@import url("https://fonts.googleapis.com/css?family=Eagle+Lake");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
body {
  margin: 0;
  padding: 0;
  background-color: #E2E2E2;
  font-family: 'Sawarabi Mincho', sans-serif; }

ul {
  list-style: none; }

.comic-nav {
  width: 250px;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 320px; }
  .comic-nav ul {
    list-style: none;
    margin: 0 20px;
    padding: 0; }
    .comic-nav ul li {
      margin: 20px 0; }

.comics-container {
  display: inline-block;
  max-width: calc(90% - 250px);
  vertical-align: top;
  box-sizing: border-box; }
  .comics-container h1 {
    font-family: 'Eagle Lake', cursive; }

.volume-image,
.comic-numbers-container,
.comic-numbers-container li {
  display: inline-block;
  vertical-align: top; }

.comic-numbers-container {
  width: 70%; }
  .comic-numbers-container ul {
    margin-top: 0; }
  .comic-numbers-container li {
    height: 35px;
    min-width: 50px;
    text-align: center;
    line-height: 35px;
    background: green;
    color: #ccc;
    padding: 0 10px;
    margin: 0 5px 10px 5px;
    border-radius: 3px; }
    .comic-numbers-container li a {
      text-decoration: none;
      color: #ccc; }

.volume-image {
  max-width: 25%; }
  .volume-image img {
    max-width: 100%; }
