@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

body {
  margin: 0;
  padding: 0;
  background-color: #E2E2E2;
  font-family: 'Sawarabi Mincho', sans-serif;
}

ul {
  list-style: none;
}